subscription_id = "00000000-0000-0000-0000-000000000000"
location            = "westeurope"
resource_group_name = "clouddevops-rg"
storage_account_name = "clouddevopsstore01"
container_name      = "images"

tags = {
  owner  = "your.name@example.com"
  course = "cloud-devops"
}
